body {
    margin: 0; /* Remove default body margin to ensure full background coverage */
}

.full-bg-image {
    position: fixed; /* Make it cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/gen_bg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; 
}