.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    float: left;
    margin: 5px;
    outline: none;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.error-message {
    text-decoration: underline;
    color: red;
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}