<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Booking</title>

    <!--Add this line for bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <!--Add this line for bootstrap-->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <div class="full-bg-image"></div>
    
    <div class="container-fluid">
        <h1>Welcome {{ username }}</h1>
        <div class="row">
            <div class="col-md-4 left-panel">
                <h4 class="mb-4">Book Tickets</h2>
                <form method="POST" id="dynamic-form">
                    {% for field in form_fields %}
                        <div class="form-group">
                            <label for="{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" 
                            class="form-control" placeholder="Enter {{ field.label }}">
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
            <div class="col-md-6 right-panel">
                <h4 class="mb-4">Train Table</h4>
                <form method="POST" id="table-form">
                    <div class="table-container">
                        <table class="table table-bordered table-striped" id="data-table">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    {% for header in table_headers %}
                                        <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table_data %}
                                    <tr {% if selected_row == loop.index %}class="selected-row"{% endif %}>
                                        <td>
                                            <div class="radio-table-group">
                                                <input type="radio" name="selected_row" id="row_{{ loop.index }}" value="{{ loop.index }}"  
                                                {% if selected_row == loop.index %} checked class="selected-row" {% endif %}
                                                onchange="this.form.submit()">
                                                <label for="row_{{ loop.index }}"></label>
                                            </div>
                                        </td>
                                        <div {% if selected_row == loop.index %} class="selected-row" {% endif %} ></div>
                                        {% for header in table_headers %}
                                            <td>
                                                {{ header or '' }}
                                            </td>
                                        {% endfor %}
                                        </div>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
