<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Booking</title>

    <!--Add this line for bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <!--Add this line for bootstrap-->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <div class="full-bg-image"></div>
    <div class="scrolling-text-container fixed-top" style="top: 25vh;">
        <div class="scrolling-text">
            {% for sentence in sentences %}
                <span>{{ sentence }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="content-area text-center mytext">
        <h1><b>Welcome to the Train booking<b></h1>
        <form method="POST">
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary btn-lg" name= "login_type" 
                    value="signin">SignIn</button>
                <button type="submit" class="btn btn-primary btn-lg" name= "login_type" 
                    value="signup">SignUp</button>
            </div>
        </form>
    </div>
</body>
</html>
