<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Booking</title>

    <!--Add this line for bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body class="d-flex flex-column align-items-center justify-content-center vh-100">
    <!--Add this line for bootstrap-->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <div class="full-bg-image"></div>
    <div class="scrolling-text-container fixed-top" style="top: 25vh;">
        <div class="scrolling-text">
            <span>Welcome to Ticket Booking. Book Tickets with one click. </span>
            <span>Fast and Easy. No Hassle. </span>
            <span>Tell us your destination and let's go! </span>
            <span>Mumbai Delhi Kolkata Chennai Bangalore Hyderabad Srinagar Sikkim. </span>
            <span>We provide the best journey possible. </span>
        </div>
    </div>

    <div class="content-area text-center">
        <h1><b>Welcome to the Train booking<b></h1>
        <form action="{{ url_for('login') }}">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</body>
</html>
